.stylinglogo{
    width: 185px;
    height: 40px;
    padding: 4px;
    padding-left: 25px;
}
.stylinglogo2{
    width: 350px;
    height: 60px;
    padding: 4px;
    padding-left: 25px;
}
#go{
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 0px;
}
#go:hover{
    color:red;
    border: 0px;
}
#gool{
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 0px;
    margin-left: 20px;
}
#gool:hover{
    color: black;
    background-color: red;
}
.bgimg1{
    background-image: url("https://www.tvsmotor.com/tvs-ntorq/-/media/Brand-Pages/NTorq/NtorqOptimised/otherImages/New-Race-Edition.png");
    background-size: cover;
    height: 75vh;
}
.head1{
    font-size: 40px;
    font-weight: bold;
    color: darkgoldenrod;
    font-family: Arial, Helvetica, sans-serif;
}
.paraline{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
}
/*.buttonst{
    color: white;
    background-color: red;
    width: 230px;
    height: 45px;
    border-radius: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}*/
.bgcolor2{
    background-color: white;
}
.bgcolor3{
    background-color: black;
}
.head2{
    color: #183b56;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
}
.para:hover{background-color: lightskyblue;}
.para2{
    color: #5a7184;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.carding{
    height:92%;
    text-align: center;
    background-color:white ;
    border-style: solid;
    border-width: 4px;
    border-color: #e5eaf4;
    border-radius: 16px;
}
.carding1{
    height:90%;
    text-align: center;
    background-color:white ;
    border-style: solid;
    border-width: 4px;
    border-color: #e5eaf4;
    border-radius: 19px;
}
.card8image{
    width: 150px;
    height: 110px;
}
.cardimage{
    width:95px;
    height:95px;
}
.card1image{
    width: 100px;
    height: 80px;
}
.card7image{
    width: 180px;
    height: 105px;
}
.card1image:hover{
    transform:scale(1.40);
}
.card2image{
    width: 150px;
    height: 85px;
}
.card2image:hover{
    transform:scale(1.40);
}
.card3image{
    width: 160px;
    height: 85px;
}
.card3image:hover{
    transform:scale(1.40);
}
.chead{
    color: #323f4b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.cpara{
    color: #7b8794;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.c1para{
    color: darkgoldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.offers{
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
}
.bgimgg3{
    background-color: white;
}
.explorecards{
    border-radius: 16px;
}
.cardpara{
    font-weight: bold;
    color: darkblue;
}
.explorecards:hover{
    transform:scale(1.12);
}
.exploreimage{
    border-radius: 16px;
}
.cardhead4{
    color:#323f4b;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
}
.explorelink{
    color: #c90202;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.paybgimg{
    background-color: white;
}
.paymentimg{
    width: 350px;
}
.payhead{
    color: #183b56;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
}
.paypara{
    color: #5a7184;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.cstbutton{
    color: white;
    background-color: #c90202;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}
.cstbutton:hover{background-color: darkblue;}
.paycardimg{
    width: 50px;
    height: 50px;
    margin-right: 28px;
}
#contact{
    background-color: grey;
    padding-bottom: 4rem;
}

